[Unit]
Description=noise2mqtt
After=network.target 
[Service]
Type=simple
ExecStart= /usr/local/bin/python3.7 /home/mabo/every2mqtt/uartMain.py -device=noise
WorkingDirectory=/home/mabo/every2mqtt
KillSignal=SIGQUIT
PrivateTmp=true
[Install]
WantedBy=multi-user.target